@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px  #f3f3f2 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Desktop and up */
@media (min-width: 1024px) {
  :root {
    --cursor-display: inherit;
  }
}

/* mobile and tablet */
@media (max-width: 1023px) {
  :root {
    --cursor-display: none;
  }
}


:root {
  --font-roboto: 'Roboto', sans-serif;
}

.font-roboto {
  font-family: var(--font-roboto);
}
